
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
.idea/

config/dataMail.php

src/Service/PHPMailer/class.phpmailer.php
src/Service/PHPMailer/class.pop3.php
src/Service/PHPMailer/class.smtp.php
