<html>
    <body>
        <h3>Bienvenue sur le site communautaire de  Snowtricks {{ name }} !!</h3>
        <br>
        Veuillez cliquer sur le lien ci-dessous pour accèder à votre compte :
        <br>
        <a href="{{link}}"> Je rejoins la team</a>
        <br>
        {{ link }}
        <h3>Snowtricks.</h3>
    </body>
</html>