<html>
<body>
<h3>Réinitialisation de votre passe sur al plateforme Snowtricks {{ name }}.</h3>
<br>
Pas de panique {{ name }}
<br>
Veuillez cliquer sur le lien ci-dessous pour accèder à l'onglet de réinitialisation de mot de passe :
<br>
<a href="{{link}}"> Je modifie mon mot de passe</a>
<br>
{{ link }}
<h3>Snowtricks.</h3>
</body>
</html>