{% extends 'base.html.twig' %}

{% block content %}
    <h1>Page introuvable - Site communautaire Snowtricks</h1>

    <p>
        Désolé cette page semble introuvable. Cliquer pour <a class="btn btn-info" href="{{ path('home') }}">Retourner à l'acceuil.</a>.
    </p>
{% endblock %}