{% block footer %}
<footer class="mt-100">
    <section class="container-lg">
        <div id="contact" class=" row">

            <div class="col-lg-6 ">
                <h3 class="mb-15">Nos partenaires</h3>
                <div class="row mt-5 mb-3">
                    <i class="far fa-snowflake fa-4x col-3" style="color: red"></i>
                    <div class="col-md-3">
                        <strong class="date">SNOW-FLAKES</strong><br>
                    </div>
                </div>
                <div class="row mb-3">
                    <i class="fas fa-igloo fa-4x col-3"></i>
                    <div class="col-md-3">
                        <strong class="date">IGLOO-FAST</strong><br>
                    </div>
                </div>
                <div class="row mb-3">
                    <i class="fas fa-snowboarding fa-4x col-3"></i>
                    <div class="col-md-3">
                        <strong class="date">SNOW-COOL</strong><br>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <h3 class="mb-5">Mentions</h3>
                <a class="block  mt-5 mb-5" href="">CGU</a>
                <h4 class="mb-3 mt-3">Nous suivre</h4>
                <i class="fab fa-facebook-square fa-4x"></i>
                <i class="fab fa-twitter-square fa-4x"></i>
                <i class="fab fa-instagram fa-4x"></i>
                <i class="fab fa-tiktok fa-4x"></i>
            </div>
        </div>
    </section>
</footer>
{% endblock %}